# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Scrapy stuff:
.scrapy

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Javascript
# dependencies
node_modules/

# production
build/
dist/

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Editor
.vscode/
